.h2{
  text-align: center;
}

.lotto{
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  width: 500px;
  margin: 0px auto;
  padding: 12px;
  border-radius: 12px;
}

.num{
  width: 12%;
}

.display{
  background-color: crimson;
  border-radius: 10px;
  color: white;
  border: 1px solid black;
  font-size: 2rem;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.btn-div{
  text-align: center;
  margin-top: 8px;
}